<!--Footer/-Mobile Navigation-->
<footer>
    <div class="bottom-navigation">
        <div class="home">
            <a href="/"><span class="material-icons">home</span></a>
            <p>Home</p>
        </div>
        <div class="work-icon">
            <a href="/work"><span class="material-icons">work</span></a>
            <p>Projects</p>
        </div>
        <div class="cv">
            <a href="/image/MiguelWardCV2021.pdf" target="_blank"><span
                    class="material-icons">format_list_bulleted</span></a>
            <p>Resume</p>
        </div>
        <div class="contact">
            <a href="/contact"><span class="material-icons">phone</span></a>
            <p>Contact</p>
        </div>
    </div>
</footer>
</body>

</html>
