<%- include("partials/header"); -%>

    <!--Contact-->
    <section>
        <div class="contact-form">
            <h1>Let's Connect</h1><br>
            <form class="contactForm">
                <input type="text" id="fullname" placeholder="Full Name" required><br>
                <input type="email" id="email" placeholder="Email" required><br>
                <input type="text" id="subject" placeholder="Subject" required>
                <textarea rows="6" cols="5" id="message" placeholder="Message" required></textarea><br>
                <input type="submit" class="btn" value="Send Message" required>
            </form>
        </div>
    </section>
    <script src="contact.js" type="text/javascript"></script>

    <%- include("partials/footer"); -%>
