<%- include("partials/header"); -%>

    <!--HOME-->
    <section>
        <div class="main">
            <div class="intro">
                <img src="image/miguelward - Photo.jpg" alt="miguel ward photo">
                <h1>Miguel Anton Ward</h1>
            </div>
            <hr>
            <div class="bio">
                <p>
                    Hello, I’m Miguel, a Full-Stack Developer and UI & UX designer based in Trinidad and Tobago.
                    Interested in an opportunity to enhance my skills and capabilities.

                </p>
                <p>
                    Apart from my Career, I enjoy outdoor activities and I am currently on a mission to run 5
                    kilometers in under 25 minutes. I look forward to connecting with you.
                </p>
            </div>
        </div>
    </section>

    <%- include("partials/footer"); -%>
