<%- include("partials/header"); -%>

    <!--PROJECTS-->
    <section>
        <h1 class="project-title">Projects</h1>
        <div class="work">
            <div class="ofit">
                <img src="/image/Project one - ofitness web app.png" alt="project-one">
                <ul class="projects" id="project-one">
                    <li><a href="https://ofitness.herokuapp.com/" target="_blank">live</a></li>
                    <li><a href="https://github.com/migsasw/ofitnesswebsite" target="_blank">github</a></li>
                </ul>
            </div>
            <div class="tila">
                <img src="/image/Project two - tila web app.png" alt="project-two">
                <ul class="projects">
                    <li><a href="https://tireinflatorlocator.herokuapp.com/" target="_blank">live</a></li>
                    <li><a href="https://github.com/migsasw/TireInflatorLocator" target="_blank">github</a></li>
                </ul>
            </div>
        </div>
    </section>

    <%- include("partials/footer"); -%>
